.index-header {
  position: relative;
  background-image: url("../../img/img-header-portfolio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 95vh;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
